# محیط مجازی
venv/

# پوشه‌های IDE (برای PyCharm، VSCode و دیگر IDEها)
.vscode/
.idea/

# فایل‌های سیستمی
.DS_Store
Thumbs.db

# فایل‌های لاگ
*.log

# فایل‌های دیتابیس SQLite
*.sqlite
*.db

# فایل‌های پیکربندی محیط
.env

# فایل‌های پیکربندی Git
.gitconfig

# فایل‌های سیستم‌های لینوکس
*~

# پکیج‌ها و پوشه‌های کامپایل شده
__pycache__/
*.pyc

# پوشه‌های مربوط به تست‌ها (اگر پوشه تست دارید و نمی‌خواهید به گیت اضافه شود)
tests/

# فایل‌های مخصوص CI/CD (اگر پروژه شما از CI/CD استفاده می‌کند)
*.yml
*.yaml